/* ===========================
   BUTTONS
=========================== */

.btn{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    padding:16px 28px;

    border-radius:18px;

    transition:var(--transition);

    font-weight:600;

}

.btn-primary{

    background:var(--primary);

    color:white;

}

.btn-primary:hover{

    transform:translateY(-3px);

}

.btn-secondary{

    border:1px solid var(--border);

}

/* ===========================
   NAVBAR
=========================== */

.navbar{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    z-index:999;

    transition:.35s ease;

}

.navbar nav{

    height:80px;

    display:flex;

    align-items:center;

    justify-content:center;

    position:relative;

}

.nav-links{

    display:flex;

    gap:40px;

}

.nav-links a{

    color:var(--muted);

    font-size:15px;

    transition:.3s ease;

    position:relative;

}

.nav-links a:hover{

    color:white;

}

.nav-links a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-6px;

    width:0;

    height:2px;

    background:var(--primary);

    transition:.3s;

}

.nav-links a:hover::after{

    width:100%;

}

.resume-btn{

    position:absolute;

    right:0;

    padding:12px 22px;

    border-radius:14px;

    border:1px solid var(--border);

    transition:.3s;

}

.resume-btn:hover{

    background:var(--primary);

    border-color:var(--primary);

}

.navbar.scrolled{

    backdrop-filter:blur(16px);

    background:rgba(11,17,32,.75);

    border-bottom:1px solid rgba(255,255,255,.05);

}